* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.mainbox {
  width: 100vw;
  height: 100vh;
  background-color: #6a9c89;
  justify-content: center;
  align-items: center;
  display: flex;
}
#appcont {
  width: 60%;
  height: 90%;
  background-color: #16423c;
  /* border: 1px solid black; */
  border-radius: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 20px 20px 20px #16423c;
  overflow-y: hidden;
  /* scrollbar-width: none; */
}
#appbody::webkit-scrollbar {
  width: 0;
}
#appHead {
  width: 50%;
  height: 15%;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
#heading {
  text-align: center;
  color: cornsilk;
  font-size: 2.5rem;
}
#task {
  font-size: 1rem;
  border-radius: 12px;
  padding: 5px;
  margin-top: 10px;
}
#addbtn {
  width: 4rem;
  border-radius: 12px;
}
#appbody {
  width: 50%;
  max-height: 70%;
  padding: 10px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* overflow-y: hidden; */
  margin-left: 20px;
  /* border: 1px solid black; */
}
.list {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}
input[type="text"] {
  overflow: hidden;
}
.dltbtn,
.editbnt {
  width: 8rem;
  border-radius: 8px;
}
#appbody::webkit-scrollbar {
  display: none;
}
.rem {
  display: none;
}
#appbody h2 {
  color: cornsilk;
  font-size: 1.2rem;
}
